html{
    background: url(./assets/img/gettyimages-490793102-640x640.jpg) no-repeat center center fixed;
    background-size: cover;
    background-blend-mode:color;
    position: relative;
}
.backgroundColor{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: gray;
    opacity: 0.1;
    z-index: -1;
}
body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1.5%;
    overflow-x: hidden;
}
.useramount{
    position: absolute;
    width: 170px;
    top: 200px;
    right:  5%;
    display: flex;
    flex-wrap: wrap;
    background: gray;
    color: white;
    animation: none;
    border-radius: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.useramount p:not(:last-child){
 padding: 10px;
 padding-right: 0;
}
.useramount p:first-child{
    padding-bottom: 0;
    margin-bottom: 0;
}
.useramount p:last-child{
    padding: 10px 3px;
    padding-right: 10px;
}
.bets{
    width: 800px;
    margin-top: 25px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    transition: 0.4s ease-in-out;
}
.secondpartbets{
    width: 590px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;

}
.col-3{
 width: 70px;
 padding: 15px 50px;
 margin-top: 20px;
 border-radius: 10px;
 cursor: pointer;
}
.number1{
    background: #0007A3;
    position: relative;
    border: 7px solid #7077f3;
}
.colorOpacity{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;height: 100%;opacity: 0.4;
}
.color-1{
    background: #0007A3;
}
.color-2{
    background: #0060B2;
}
.color-3{
    background: #009EC4;
}
.color-4{
    background: #F76100;
}
.color-5{
    background: #F78F00;
}
.color-6{
    background: #F7C100;
}
.color-7{
    background: #F7F600;
}
.number2{
    background: #0060B2;
    position: relative;
    border: 7px solid rgb(101, 167, 224);
}
.number3{
    position: relative;
    background: #009EC4;
    border: 7px solid #66bacf;
}
.number4{
    background: #F76100;
    position: relative;
    border: 7px solid #f3995d;

}
.number5{
    background: #F78F00;
    position: relative;
    border: 7px solid #f5ae4b;

}
.number6{
    background: #F7C100;
    position: relative;
    border: 7px solid #ffd84c;

}
.number7{
    background: #F7F600;
    position: relative;
    border: 7px solid #ffff5f;

}
.col-3 p:last-child{
    font-size: 25px;
    border: 2px solid;
    display: inline-block;
    padding: 5px 16px;
    padding-bottom: 8px;
    border-radius: 50%;
    margin-left: 15%;
    color: white;
    background: #151312;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.spincontainer{
    width: 400px;
    height: 400px;
    position: relative; 
    margin-top: -400px;
}

.slice {
    position: absolute;
    left: 0;
    top: 25%;
    border-left: 200px solid #0007A3;
    border-bottom: 100px solid transparent;
    border-top: 100px solid transparent;
    display: inline-block;
}

.slice1 {
    position: absolute;
    bottom: 5.2%;
    left: 9.8%;
    transform: rotate(37deg);
    border-bottom: 200px solid #0060B2;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    display: inline-block;
}

.slice2 {
    position: absolute;
    bottom: 3px;
    right: 18.4%;
    transform: rotate(-16deg);
    border-bottom: 200px solid #009EC4;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    display: inline-block;
}

.slice3 {
    position: absolute;
    top: 34.7%;
    right: 8.4px;
    transform: rotate(22deg);
    border-right: 200px solid #F76100;
    border-bottom: 100px solid transparent;
    border-top: 100px solid transparent;
    display: inline-block;
}

.slice4 {
    position: absolute;
    top: 50px;
    right: 13px;
    transform: rotate(-31deg);
    border-right: 200px solid #F78F00;
    border-bottom: 100px solid transparent;
    border-top: 100px solid transparent;
    display: inline-block;
}

.slice5 {
    position: absolute;
    top: 1px;
    right: 21.3%;
    transform: rotate(-83deg);
    border-right: 200px solid #F7C100;
    border-bottom: 100px solid transparent;
    border-top: 100px solid transparent;
    display: inline-block;
}

.slice6 {
    position: absolute;
    top: 21px;
    right: 41%;
    transform: rotate(-129deg);
    border-right: 200px solid #F7F600;
    border-bottom: 100px solid transparent;
    border-top: 100px solid transparent;
    display: inline-block;
}

.textContainer {
    position: relative;
}

.text1 {
    position: absolute;
    left: 18px;
    top: 41%;
    transform: rotate(-90deg);
}

.text2 {
    position: absolute;
    bottom: 7%;
    left: 21%;
    transform: rotate(-144deg);
}

.text3 {
    position: absolute;
    bottom: -1px;
    right: 36.4%;
    transform: rotate(-195deg);
}

.text4 {
    position: absolute;
    top: 56.7%;
    right: 31.4px;
    transform: rotate(112deg);
}

.text5 {
    position: absolute;
    top: 79px;
    right: 38px;
    transform: rotate(-301deg);
}

.text6 {
    position: absolute;
    top: -4px;
    right: 38%;
    transform: rotate( -350deg);
}

.text7 {
    position: absolute;
    top: 26px;
    right: 73%;
    transform: rotate( -400deg);
}

.color {
    color: white;
    font-size: 20px;
    border-radius: 50%;
    border: 2px solid;
    padding: 3px 8px;
    padding-bottom: 5px;
    background-color: #151312;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#spin {
    width: 68px;
    height: 68px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -34px 0 0 -34px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 0px;
    z-index: 1000;
    background: #fff;
    cursor: pointer;
    font-family: 'Exo 2', sans-serif;
    transform: rotateZ(1deg);
    user-select: none;
}

#spin:after {
    content: "SPIN";
    text-align: center;
    line-height: 68px;
    color: gray;
    position: relative;
    z-index: 100000;
    width: 68px;
    height: 68px;
    display: block;
}

#spin:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 20px 28px 20px;
    border-color: transparent transparent #ffffff transparent;
    top: -12px;
    left: 14px;
}

#inner-spin {
    width: 54px;
    height: 54px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -27px 0 0 -27px;
    border-radius: 50%;
    background: red;
    z-index: 999;
    box-shadow: rgba(255, 255, 255, 1) 0px -2px 0px inset, rgba(255, 255, 255, 1) 0px 2px 0px inset, rgba(0, 0, 0, 0.4) 0px 0px 5px;
    background: rgb(255, 255, 255);
    /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(234, 234, 234, 1) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(234, 234, 234, 1)));
    /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(234, 234, 234, 1) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(234, 234, 234, 1) 100%);
    /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(234, 234, 234, 1) 100%);
    /* IE10+ */
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 1) 0%, rgba(234, 234, 234, 1) 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}

#spin:active #inner-spin {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 5px inset;
}

#spin:active:after {
    font-size: 15px;
}

.fas{
    position: absolute;
    top: 5px;
    right: 25px;
    font-size: 20px;
    color: white;
    opacity: 0.9;
}
.fa-undo-alt{
    right: 55px;
    top: 8px;
    font-size: 17px;
    z-index: 100;
    transition: 0.2s ease-in-out;
    display: none;
}
.fa-undo-alt:hover{
    color: #0D0D0D;
}
.betcount{
    position: absolute;
    top: 1px;
    margin: 0;
    right: 7px;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}
.container {
    width: 400px;
    height: 400px;
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    transition: all 4s;
    animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    border: 4px solid white;
}
@keyframes anm1 {
    0% {
        transform: rotateZ(-10deg);
    }
    100% {
        transform: rotateZ(3340deg);
    }
}
@keyframes anm2 {
    0% {
        transform: rotateZ(-260deg);
    }
    100% {
        transform: rotateZ(3340deg);
    }
}
@keyframes anm3 {
    0% {
        transform: rotateZ(-60deg);
    }
    100% {
        transform: rotateZ(3340deg);
    }
}
@keyframes anm4 {
    0% {
        transform: rotateZ(-110deg);
    }
    100% {
        transform: rotateZ(3340deg);
    }
}
@keyframes anm5 {
    0% {
        transform: rotateZ(-160deg);
    }
    100% {
        transform: rotateZ(3340deg);
    }
}
@keyframes anm6 {
    0% {
        transform: rotateZ(-210deg);
    }
    100% {
        transform: rotateZ(3340deg);
    }
}
@keyframes anm7 {
    0% {
        transform: rotateZ(-310deg);
    }
    100% {
        transform: rotateZ(3340deg);
    }
}
@keyframes anm8 {
    0% {
        transform: rotateZ(-360deg);
    }
    100% {
        transform: rotateZ(3340deg);
    }
}
@keyframes anm9 {
    0% {
        transform: rotateZ(40deg);
    }
    100% {
        transform: rotateZ(3340deg);
    }
}
@keyframes Slice2Anm1 {
    0% {
        transform: rotateZ(-10deg);
    }
    100% {
        transform: rotateZ(3390deg);
    }
}
@keyframes Slice2Anm2 {
    0% {
        transform: rotateZ(-260deg);
    }
    100% {
        transform: rotateZ(3390deg);
    }
}
@keyframes Slice2Anm3 {
    0% {
        transform: rotateZ(-60deg);
    }
    100% {
        transform: rotateZ(3390deg);
    }
}
@keyframes Slice2Anm4 {
    0% {
        transform: rotateZ(-110deg);
    }
    100% {
        transform: rotateZ(3390deg);
    }
}
@keyframes Slice2Anm5 {
    0% {
        transform: rotateZ(-160deg);
    }
    100% {
        transform: rotateZ(3390deg);
    }
}
@keyframes Slice2Anm6 {
    0% {
        transform: rotateZ(-210deg);
    }
    100% {
        transform: rotateZ(3390deg);
    }
}
@keyframes Slice2Anm7 {
    0% {
        transform: rotateZ(-310deg);
    }
    100% {
        transform: rotateZ(3390deg);
    }
}
@keyframes Slice2Anm8 {
    0% {
        transform: rotateZ(-360deg);
    }
    100% {
        transform: rotateZ(3390deg);
    }
}
@keyframes Slice2Anm9 {
    0% {
        transform: rotateZ(40deg);
    }
    100% {
        transform: rotateZ(3390deg);
    }
}
@keyframes Slice3Anm1 {
    0% {
        transform: rotateZ(-10deg);
    }
    100% {
        transform: rotateZ(3440deg);
    }
}
@keyframes Slice3Anm2 {
    0% {
        transform: rotateZ(-260deg);
    }
    100% {
        transform: rotateZ(3440deg);
    }
}
@keyframes Slice3Anm3 {
    0% {
        transform: rotateZ(-60deg);
    }
    100% {
        transform: rotateZ(3440deg);
    }
}
@keyframes Slice3Anm4 {
    0% {
        transform: rotateZ(-110deg);
    }
    100% {
        transform: rotateZ(3440deg);
    }
}
@keyframes Slice3Anm5 {
    0% {
        transform: rotateZ(-160deg);
    }
    100% {
        transform: rotateZ(3440deg);
    }
}
@keyframes Slice3Anm6 {
    0% {
        transform: rotateZ(-210deg);
    }
    100% {
        transform: rotateZ(3440deg);
    }
}
@keyframes Slice3Anm7 {
    0% {
        transform: rotateZ(-310deg);
    }
    100% {
        transform: rotateZ(3440deg);
    }
}
@keyframes Slice3Anm8 {
    0% {
        transform: rotateZ(-360deg);
    }
    100% {
        transform: rotateZ(3440deg);
    }
}
@keyframes Slice3Anm9 {
    0% {
        transform: rotateZ(40deg);
    }
    100% {
        transform: rotateZ(3440deg);
    }
}
@keyframes Slice4Anm1 {
    0% {
        transform: rotateZ(-10deg);
    }
    100% {
        transform: rotateZ(3490deg);
    }
}
@keyframes Slice4Anm2 {
    0% {
        transform: rotateZ(-260deg);
    }
    100% {
        transform: rotateZ(3490deg);
    }
}
@keyframes Slice4Anm3 {
    0% {
        transform: rotateZ(-60deg);
    }
    100% {
        transform: rotateZ(3490deg);
    }
}
@keyframes Slice4Anm4 {
    0% {
        transform: rotateZ(-110deg);
    }
    100% {
        transform: rotateZ(3490deg);
    }
}
@keyframes Slice4Anm5 {
    0% {
        transform: rotateZ(-160deg);
    }
    100% {
        transform: rotateZ(3490deg);
    }
}
@keyframes Slice4Anm6 {
    0% {
        transform: rotateZ(-210deg);
    }
    100% {
        transform: rotateZ(3490deg);
    }
}
@keyframes Slice4Anm7 {
    0% {
        transform: rotateZ(-310deg);
    }
    100% {
        transform: rotateZ(3490deg);
    }
}
@keyframes Slice4Anm8 {
    0% {
        transform: rotateZ(-360deg);
    }
    100% {
        transform: rotateZ(3490deg);
    }
}
@keyframes Slice4Anm9 {
    0% {
        transform: rotateZ(40deg);
    }
    100% {
        transform: rotateZ(3490deg);
    }
}
@keyframes Slice5Anm1 {
    0% {
        transform: rotateZ(-10deg);
    }
    100% {
        transform: rotateZ(3540deg);
    }
}
@keyframes Slice5Anm2 {
    0% {
        transform: rotateZ(-260deg);
    }
    100% {
        transform: rotateZ(3540deg);
    }
}
@keyframes Slice5Anm3 {
    0% {
        transform: rotateZ(-60deg);
    }
    100% {
        transform: rotateZ(3540deg);
    }
}
@keyframes Slice5Anm4 {
    0% {
        transform: rotateZ(-110deg);
    }
    100% {
        transform: rotateZ(3540deg);
    }
}
@keyframes Slice5Anm5 {
    0% {
        transform: rotateZ(-160deg);
    }
    100% {
        transform: rotateZ(3540deg);
    }
}
@keyframes Slice5Anm6 {
    0% {
        transform: rotateZ(-210deg);
    }
    100% {
        transform: rotateZ(3540deg);
    }
}
@keyframes Slice5Anm7 {
    0% {
        transform: rotateZ(-310deg);
    }
    100% {
        transform: rotateZ(3540deg);
    }
}
@keyframes Slice5Anm8 {
    0% {
        transform: rotateZ(-360deg);
    }
    100% {
        transform: rotateZ(3540deg);
    }
}
@keyframes Slice5Anm9 {
    0% {
        transform: rotateZ(40deg);
    }
    100% {
        transform: rotateZ(3540deg);
    }
}
@keyframes Slice6Anm1 {
    0% {
        transform: rotateZ(-10deg);
    }
    100% {
        transform: rotateZ(3590deg);
    }
}
@keyframes Slice6Anm2 {
    0% {
        transform: rotateZ(-260deg);
    }
    100% {
        transform: rotateZ(3590deg);
    }
}
@keyframes Slice6Anm3 {
    0% {
        transform: rotateZ(-60deg);
    }
    100% {
        transform: rotateZ(3590deg);
    }
}
@keyframes Slice6Anm4 {
    0% {
        transform: rotateZ(-110deg);
    }
    100% {
        transform: rotateZ(3590deg);
    }
}
@keyframes Slice6Anm5 {
    0% {
        transform: rotateZ(-160deg);
    }
    100% {
        transform: rotateZ(3590deg);
    }
}
@keyframes Slice6Anm6 {
    0% {
        transform: rotateZ(-210deg);
    }
    100% {
        transform: rotateZ(3590deg);
    }
}
@keyframes Slice6Anm7 {
    0% {
        transform: rotateZ(-310deg);
    }
    100% {
        transform: rotateZ(3590deg);
    }
}
@keyframes Slice6Anm8 {
    0% {
        transform: rotateZ(-360deg);
    }
    100% {
        transform: rotateZ(3590deg);
    }
}
@keyframes Slice6Anm9 {
    0% {
        transform: rotateZ(40deg);
    }
    100% {
        transform: rotateZ(3590deg);
    }
}
@keyframes Slice7Anm1 {
    0% {
        transform: rotateZ(-10deg);
    }
    100% {
        transform: rotateZ(3640deg);
    }
}
@keyframes Slice7Anm2 {
    0% {
        transform: rotateZ(-260deg);
    }
    100% {
        transform: rotateZ(3640deg);
    }
}
@keyframes Slice7Anm3 {
    0% {
        transform: rotateZ(-60deg);
    }
    100% {
        transform: rotateZ(3640deg);
    }
}
@keyframes Slice7Anm4 {
    0% {
        transform: rotateZ(-110deg);
    }
    100% {
        transform: rotateZ(3640deg);
    }
}
@keyframes Slice7Anm5 {
    0% {
        transform: rotateZ(-160deg);
    }
    100% {
        transform: rotateZ(3640deg);
    }
}
@keyframes Slice7Anm6 {
    0% {
        transform: rotateZ(-210deg);
    }
    100% {
        transform: rotateZ(3640deg);
    }
}
@keyframes Slice7Anm7 {
    0% {
        transform: rotateZ(-310deg);
    }
    100% {
        transform: rotateZ(3640deg);
    }
}
@keyframes Slice7Anm8 {
    0% {
        transform: rotateZ(-360deg);
    }
    100% {
        transform: rotateZ(3640deg);
    }
}
@keyframes Slice7Anm9 {
    0% {
        transform: rotateZ(40deg);
    }
    100% {
        transform: rotateZ(3640deg);
    }
}

@keyframes forBets{
    0%{
       position: absolute;
       top: 100%;
    }
    100%{
        top: 400%;
    }
}
